<?xml version='1.0' encoding='utf-8'?>
<!--
    Copyright (c) 2009-2012, Andre Caron (andre.l.caron@gmail.com)
    All rights reserved.

    Redistribution and use in source and binary forms, with or without
    modification, are permitted provided that the following conditions are
    met:

     * Redistributions of source code must retain the above copyright
       notice, this list of conditions and the following disclaimer.

     * Redistributions in binary form must reproduce the above copyright
       notice, this list of conditions and the following disclaimer in the
       documentation and/or other materials provided with the distribution.

    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
    "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
    LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
    A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
    HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
    SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
    LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
    DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
    THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
    (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
    OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <?define Root='../../.build/$(var.Configuration)/'?>

  <?define Manufacturer='Andre Caron'?>
  <?define ProductCode='59DC4FB5-0912-40C0-A5A0-AA502E237FFB'?>
  <?define ProductVersion='1.9.0'?>
  <?define UpgradeCode='E496D6D4-FCD3-4Ad5-88F8-E954CAB205DB'?>
  <?define PackageCode='*'?>

  <!-- Uniquely identify what we're shipping. -->
  <Product
     Id="$(var.ProductCode)" Name="!(loc.ProductName)"
     UpgradeCode="$(var.UpgradeCode)" Language="!(loc.LANG)"
     Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)">

    <Package
       Id="$(var.PackageCode)" Manufacturer="$(var.Manufacturer)"
       InstallerVersion='200' Description="!(loc.PackageDescription)"
       Comments="!(loc.PackageComments)" Compressed='yes'
       InstallPrivileges='elevated' InstallScope='perMachine'/>

    <!-- Target Windows Vista and Windows Server 2005. -->
    <!--Condition Message="!(loc.DesignedForWindows5)">
      <![CDATA[VersionNT = 601 OR VersionNT = 602]]>
    </Condition-->

    <!-- Provide all media in a single bundle. -->
    <Media Id='1' Cabinet='product.cab' EmbedCab='yes'/>

    <!--
        Primary directory structure: installs by default in
        'C:\Program Files\<Manufacturer>\<Product>\' (localised) but allows the
        user to change it to somewhere else on the computer if desired.
      -->
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='Program Files'>
        <Directory Id='ManufacturerFolder' Name="$(var.Manufacturer)">
          <Directory Id='ProductFolder' Name="!(loc.ProductName)">
            <Directory Id='INSTALLDIR' Name='.'>

              <!--
                  Internal directory strucure, independant of location.
                -->

            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <!--
          Define standard folder locations: these directories are pre-defined,
          but WiX requires a valid XML element to link properly.
        -->
      <Directory Id='SystemFolder' Name='System'>
        <Directory Id='LogFilesFolder' Name='LogFiles'/>
      </Directory>
      <Directory Id='ProgramMenuFolder' Name='Programs'/>

    </Directory>

    <!--
        Define the feature tree and components to use in the application:
          - there is a single feature;
          - all components are always installed.
      -->
    <Feature
       Id='MainProductFeature' Title='Main product' Level='1' Absent='disallow'>
      <ComponentRef Id='License'/>
      <ComponentRef Id='ShellExtensionComServer'/>
      <ComponentRef Id='ShellExtensionComServerRegistration'/>
      <ComponentRef Id='TgaFileThumbnailPreview'/>
      <ComponentRef Id='ManufacturerStartMenu'/>
      <ComponentRef Id='ProductStartMenu'/>
    </Feature>

    <!--
        Define installation user interface:
          - show the software usage and distribution license;
          - allow the UI to change the installation directory.
      -->
    <Property Id='WIXUI_INSTALLDIR' Value='INSTALLDIR'/>
    <WixVariable Id='WixUILicenseRtf' Value='license.rtf'/>
    <UIRef Id='WixUI_InstallDir'/>

    <!--
        Install documentation files:
           - software usage and distribution license;
           - user's guide.
      -->
    <DirectoryRef Id='INSTALLDIR'>
      <Component
         Id='License' Guid='442E5FDB-3A3F-433B-80BF-487FACDC1EFB'>
        <File
           Id='BsdLicense' DiskId='1' KeyPath='yes'
           Name="license.rtf" Source="license.rtf">
          <Shortcut
             Id='LicenseShortcut' Advertise='yes'
             Directory='ProductMenu' Name="License" Icon='icon.rtf'>
            <Icon Id='icon.rtf' SourceFile='copyright.ico'/>
          </Shortcut>
        </File>
      </Component>
    </DirectoryRef>

    <!--
        Define start menu for the application:
          - create folder hierarchy in the start menu;
          - create a registry key to have a 'key path' for the component.
      -->
    <DirectoryRef Id='ProgramMenuFolder'>
      <Directory Id='ManufacturerMenu' Name="$(var.Manufacturer)">
        <Directory Id='ProductMenu' Name="!(loc.ProductName)"/>
      </Directory>
    </DirectoryRef>

    <DirectoryRef Id='ManufacturerMenu'>
      <Component
         Id='ManufacturerStartMenu' Guid='1D9CE23E-6457-4D81-85F2-6FDCE64DA7CB'>
        <RegistryValue
           Root='HKMU' Key="SOFTWARE\$(var.Manufacturer)"
           Type='string' Name="Uninstall" Value="" KeyPath='yes'/>
        <RemoveFolder Id='ManufacturerStartMenuFolder' On='uninstall'/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id='ProductMenu'>
      <Component
         Id='ProductStartMenu' Guid='47388856-AE46-4C3f-871A-1D388A7D9B9B'>
        <RegistryValue
           Root='HKMU' Key="SOFTWARE\$(var.Manufacturer)\!(loc.ProductName)"
           Type='string' Name="Uninstall" Value="" KeyPath='yes'/>
        <RemoveFolder Id='ProductStartMenuFolder' On='uninstall'/>
      </Component>
    </DirectoryRef>

    <!--
        Install the shell extension COM server:
          - install library binary and manifest;
          - register COM server in registry;
          - register COM server as a thumbnail proviider.
      -->
    <?define ShellExtensionComServerGuid='8A649DB1-56CD-4640-8EFE-670CFC20670C'?>

    <DirectoryRef Id='INSTALLDIR'>
      <Component
         Id='ShellExtensionComServer' Guid='4D5C8A60-2020-479B-AAFA-C1591D8B7C89'>
        <!--File
           Id='ShellExtensionComServerManifest' Name="tga-thumbnails.dll.manifest" DiskId='1'
           Source="$(var.Root)tga-thumbnails.dll.manifest" KeyPath='no'/-->
        <File
           Id='ShellExtensionComServerExecutable' Name="tga-thumbnails.dll" DiskId='1'
           Source="$(var.Root)tga-thumbnails.dll" KeyPath='yes'>
        </File>
        <File
           Id='ShellExtensionComServerExecutableDep1' Name="w32.dll" DiskId='1'
           Source="$(var.Root)w32.dll" KeyPath='no'>
        </File>
        <File
           Id='ShellExtensionComServerExecutableDep2' Name="w32.com.dll" DiskId='1'
           Source="$(var.Root)w32.com.dll" KeyPath='no'>
        </File>
        <File
           Id='ShellExtensionComServerExecutableDep3' Name="w32.dbg.dll" DiskId='1'
           Source="$(var.Root)w32.dbg.dll" KeyPath='no'>
        </File>
        <File
           Id='ShellExtensionComServerExecutableDep4' Name="w32.fs.dll" DiskId='1'
           Source="$(var.Root)w32.fs.dll" KeyPath='no'>
        </File>
        <File
           Id='ShellExtensionComServerExecutableDep5' Name="w32.gdi.dll" DiskId='1'
           Source="$(var.Root)w32.gdi.dll" KeyPath='no'>
        </File>
        <File
           Id='ShellExtensionComServerExecutableDep6' Name="w32.mt.dll" DiskId='1'
           Source="$(var.Root)w32.mt.dll" KeyPath='no'>
        </File>
        <File
           Id='ShellExtensionComServerExecutableDep7' Name="w32.rgs.dll" DiskId='1'
           Source="$(var.Root)w32.rgs.dll" KeyPath='no'>
        </File>
        <File
           Id='ShellExtensionComServerExecutableDep8' Name="w32.shl.dll" DiskId='1'
           Source="$(var.Root)w32.shl.dll" KeyPath='no'>
        </File>
        <File
           Id='ShellExtensionComServerExecutableDep9' Name="w32.shl.ext.dll" DiskId='1'
           Source="$(var.Root)w32.shl.ext.dll" KeyPath='no'>
        </File>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='INSTALLDIR'>
      <Component
         Id='ShellExtensionComServerRegistration' Guid='89F749D4-5CB0-4ECB-A02C-0B07334DFAEF'>
        <RegistryKey
           Action='createAndRemoveOnUninstall' Root='HKCR'
           Key="CLSID\{$(var.ShellExtensionComServerGuid)}">
          <RegistryValue Type='string' Value="Tga Image Thumbnail Preview"/>
          <RegistryKey Action='createAndRemoveOnUninstall' Key='InProcServer32'>
            <RegistryValue Type='string' Value="[INSTALLDIR]tga-thumbnails.dll"/>
            <RegistryValue Type='string' Name="ThreadingModel" Value="Apartment"/>
          </RegistryKey>
        </RegistryKey>
        <RegistryKey
           Action='createAndRemoveOnUninstall'
           Root='HKLM' Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved">
          <RegistryValue
             Type='string'
             Name="{$(var.ShellExtensionComServerGuid)}"
             Value="Tga Image Thumbnail Preview"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='INSTALLDIR'>
      <Component
         Id='TgaFileThumbnailPreview' Guid='D7ED8B2D-4810-4CBA-B801-CA04C6FB4ED0'>
        <RegistryKey Action='createAndRemoveOnUninstall' Root='HKCR'
           Key='.tga'>
          <RegistryValue Type='string' Value='TgaFile'/>
        </RegistryKey>
        <RegistryKey Action='createAndRemoveOnUninstall' Root='HKCR' Key="TgaFile">
          <RegistryValue Type='string' Name='PerceivedType' Value="image"/>
          <RegistryKey Action='createAndRemoveOnUninstall' Key='ShellEx'>
            <RegistryKey
               Action='createAndRemoveOnUninstall'
               Key='{E357FCCD-A995-4576-B01F-234630154E96}' >
              <RegistryValue
                 Type='string' Value="{$(var.ShellExtensionComServerGuid)}"/>
            </RegistryKey>
          </RegistryKey>
        </RegistryKey>
      </Component>
    </DirectoryRef>

  </Product>
</Wix>
